/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body, html {
  font-family: 'Press Start 2P', cursive;
  background-color: #444;
}

.scoreboard {
  border: 2px solid black;
  padding: 5px;
  width: 800px;
  height: 60px;
  background-color: #888;
}
.high, .current, .collisions {
  padding: 2px;
}
.gamewindow {
  background-color: #FFF;
  border: 2px solid black;
  padding: 5px;
  width: 800px;
  height: 600px;
}

.authors {
  text-align:center;
  border: 2px solid black;
  padding: 5px;
  width: 800px;
  height: 18px;
  background-color: #888;
}
.title {
  padding-top:12px;
  float:right;
  font-size: 40px;
  letter-spacing: 5px;
}
